<script type="text/javascript">
$(function(){
   $("input[name='un']").focus();
  
  
   
});
</script>
<style type="text/css">
#l-sec{}
#su-sec{display:none;}
</style>

<section id="l-sec">
   
  <div class="sb">
    <div id="login">
      <form name="login" action="/login" method="post">
        <input type="text" name="un" placeholder="Email" />
        <input type="password" name="pw" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
        <input type="submit" value="Login" class="b-btn m-a">
        
      </form>
    </div>
  </div>
  <div class="sb last">
    <a href="/signup" id="su-s" class="g-btn m-a siu">Sign up</a>
  </div>
</section>
 